html{
  background-color: lightgrey;
}
.pic{
  width:32%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
@media (device-width=720){
  .pic{
    width:100%;
  }
}
p{
  font-size:20px;
  text-align:center;
}
