$fcolor: black;
$font: Arial;

html{
  background-color: lightgrey;
}
h1{
  color: $fcolor;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}
#par1{
  color: $fcolor;
  font: $font;
  font-size: 25px;
  font-weight: bold;
}
ul{
  color: $fcolor;
  font: $font;
  font-size: 20px;
  margin-left: 15px;
}
