h1{
  color: green;
  font-weight: bold;
  font: Arial;
  text-align: center;
}
#par1{
  color: red;
  font: sans-serif;
  font-weight: lighter;
}
#hyp{
  font: Arial;
  font-weight: bold;
  color:white;
}
html{
  background-image:url("space.jpg");
  background-color:#cccccc;
  background-size:cover;
  background-repeat:no-repeat;
}
